@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root{
  --white: f3f5f4;
  --dark-blue: #1b1b35;
  --dark-blue-opacity: rgba(240,27,50,0.7)
  --color-green: #37af65;

}
html {
background-color: var(--dark-blue);
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://wallpapershome.com/images/pages/pic_h/16202.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
body{
  
    font-size: 1rem;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#container{
  width: 50%;
  margin: 3rem auto;
}
h1 {
  font-size: 4rem;
  margin-top:0.5rem;
  margin-bottom: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);



}
#description{
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.text-center{
    text-align: center;

}
form{
  background: rgba(10,17,40,0.8);
  padding: 2.5rem;
  border-radius: 0.4rem;
  margin: 3rem auto;
}


.form-group{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-control{
  box-sizing: border-box;
  width: 100%;
  padding: 0.3rem 0rem 0.3rem 0rem;
  height: 2.375rem;
  border-radius: 0.4rem;
  border: 0;
  padding: 0 1rem;

}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0.5rem 0.3rem rgba(0, 123, 255, 0.9);
}

.radio-form,
.music-form{
  margin-right:1rem;
}

label{
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.text-form{
  width: 100%;
  min-height: 10rem;
  padding: 0.5rem 1rem;
  resize: vertical;
}

.button-form{
  display: block;
  padding: 0.5rem;
  color: inherit;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  background: #37af65;
  border-radius: 0.3rem;
  border: 0;
}
.button-form:hover{
  background: green;
  transition: 0.15s;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

}

.small{
    margin-left: 0.25rem;
  font-size: 0.5rem;
}
